<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBO0ccNpH9NVdo1IvntKaw_1-VvKiaKrr4</string>
	<key>GCM_SENDER_ID</key>
	<string>601583366525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.20past30.ChatAppWithFirebase</string>
	<key>PROJECT_ID</key>
	<string>chatapp-64916</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-64916.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:601583366525:ios:84f4260efdc62290bd9c14</string>
</dict>
</plist>